<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="container min-w-[100vw] min-h-[100vh] font-[sans]">
        <nav class="bg-[#F9F5F6] w-full py-5 px-5 sm:px-20 flex justify-between items-center">
            <h1 class="font-[cursive] text-2xl sm:text-3xl font-bold"><a href="/home">SRM</a></h1>
            <ul class="flex gap-3 md:gap-5 text-md lg:text-lg font-semibold items-center">
                <li><a href="/home"
                        class="hover:border-b-2 hover:border-blue-500 hover:text-blue-500 duration-300 ease">Home</a>
                </li>
                <li><a href="/add"
                        class="hover:border-b-2 hover:border-blue-500 hover:text-blue-500 duration-300 ease">Add
                        Student</a></li>
                <li><a href="/allstudents"
                        class="hover:border-b-2 hover:border-blue-500 hover:text-blue-500 duration-300 ease">All
                        Students</a></li>

                <li class="profile w-10 relative"><img class="rounded-full border-2 cursor-pointer border-indigo-500"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7VxDe4wzr6eLzRrpRXsqUl1pgSst3Q1XytA&s"
                        alt="">
                    <div
                        class="box bg-gray-200 absolute rounded-md right-[-150%] top-[100%] overflow-hidden hidden shadow-black shadow-md self-center">
                        <div class="mail p-2 border-b-1 border-black flex gap-2  hover:bg-gray-100 duration-300"><i
                                class="ri-user-fill text-indigo-500"></i>
                            <%= femail %>
                        </div>
                        <div class="logout p-2 flex gap-2 cursor-pointer hover:bg-gray-100 duration-300"><i
                                class="ri-logout-box-r-line text-red-500 text-xl"></i><a href="/logout">Logout</a></div>
                    </div>
                </li>

            </ul>
        </nav>
        <main class="w-full h-[85vh] py-5 px-5 sm:px-20 flex flex-col items-center justify-center lg:flex-row ">
            <div
                class="left lg:w-1/2 h-1/2 lg:h-full flex items-center text-center lg:text-start lg:items-start justify-center flex-col">
                <h1 class="text-5xl sm:text-7xl font-bold text text-shadow-indigo-500 text-shadow-lg">Student Record
                    Manager</h1>
                <div class="links mt-10 lg:mt-5 flex gap-5">
                    <a href="/add"
                        class="bg-indigo-500 shadow-lg shadow-indigo-500/50 rounded-full text-md sm:text-xl font-semibold text-white hover:bg-white hover:text-indigo-500 border-2 border-indigo-500 px-4 py-2 duration-500">Add
                        Students </a>
                    <a href="/allstudents"
                        class="bg-transperant border-2 border-indigo-500 px-4 py-2 rounded-full text-md sm:text-xl font-semibold text-indigo-500 shadow-lg shadow-indigo-500/50 hover:bg-indigo-500 hover:text-white duration-500">View
                        Students <i class="ri-arrow-right-double-line"></i></a>
                </div>
            </div>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/047/455/053/small/school-building-and-children-in-the-front-yard-of-the-school-illustration-vector.jpg"
                alt="" class="w-full lg:w-1/2">

        </main>
    </div>

    <script src="/javascripts/script.js"></script>
</body>

</html>