<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="container min-w-[100vw] min-h-[100vh] font-[sans]">
        <nav class="bg-[#F9F5F6] w-full py-5 px-5 sm:px-20 flex justify-between items-center">
            <h1 class="font-[cursive] text-2xl sm:text-3xl font-bold"><a href="/">SRM</a></h1>
            <ul class="flex gap-3 md:gap-5 text-md lg:text-lg font-semibold ">
                <li><a href="/login"
                        class="bg-indigo-500 text-white px-3 py-2 rounded-md shadow-indigo-500 shadow-lg hover:bg-indigo-900 duration-300 ease">Login</a>
                </li>

            </ul>
        </nav>
        <main class="w-full h-[85vh] py-5 px-5 sm:px-20 flex flex-col items-center justify-center lg:flex-row ">
            <div
                class="left lg:w-1/2 h-1/2 lg:h-full flex items-center text-center lg:text-start lg:items-start justify-center flex-col">
                <h1 class="text-5xl sm:text-7xl font-bold text text-shadow-indigo-500 text-shadow-lg">Student Record
                    Manager</h1>
                <div class="links mt-10 lg:mt-5 flex gap-5">

                    <a href="/signup"
                        class="hover:bg-white border-2 border-indigo-500 px-4 py-2 rounded-full text-md sm:text-xl font-semibold hover:text-indigo-500 shadow-lg shadow-indigo-500/50 bg-indigo-500 text-white duration-500">Get Started <i class="ri-arrow-right-double-line"></i></a>
                </div>
            </div>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/047/455/053/small/school-building-and-children-in-the-front-yard-of-the-school-illustration-vector.jpg"
                alt="" class="w-full lg:w-1/2">

        </main>
    </div>
</body>

</html>